.background-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/imgs/car.jpg");

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
